### 1. 파이썬 코드 입력 및 실행

In [1]:
print('안녕하세요')

안녕하세요

In [2]:
print('Hi')
# 주석 : # 뒤에 나온 부분은 주석으로 실행되지 않습니다.

Hi

### 2. 값 입력 및 출력

In [3]:
# 값 입력 및 출력
# 변수명 = 값
a = 9
b = 5

In [4]:
# 사칙연산
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # 몫
print(a%b)  # 나머지

14
4
45
1.8
1
4

In [5]:
# 변수를 여러 개 출력
print('파이썬','데이터분석입문','PlaywithData','데이터수집')

파이썬 데이터분석입문 PlaywithData 데이터수집

In [6]:
# 구분 기호를 사용해 변수를 여러 개 출력
print('귤','사과','배', sep=' / ')

귤 / 사과 / 배

### 3. 리스트

In [7]:
# 리스트
# 리스트명 = [원소1, 원소2, 원소3, ...]
print('1번','2번','3번','4번','5번','6번','7번','8번','9번','10번')
class_2_1 = ['1번','2번','3번','4번','5번','6번','7번','8번','9번','10번']
print(class_2_1)

1번 2번 3번 4번 5번 6번 7번 8번 9번 10번
['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']

In [9]:
# 인덱스 번호 활용
k    =  ['a','b','c','d','e']
#index    0   1   2   3   4
#index   -5  -4  -3  -2  -1
print(k[1])

b

In [10]:
#list [인덱스시작번호 : 끝 다음 번호]
k    =  ['a','b','c','d','e']
#index    0   1   2   3   4
#index   -5  -4  -3  -2  -1
print(k[1:3])
print(k[-4:-2])

['b', 'c']
['b', 'c']

In [11]:
# 리스트 합치기 : 리스트1 + 리스트2
l1 = ['a']
l2 = ['b','c','e']
print(l1 + l2)
print(l2 + l1)

['a', 'b', 'c', 'e']
['b', 'c', 'e', 'a']

In [12]:
# 리스트 추가하기 : 리스트.append(리스트2)
l1 = ['a']
l2 = ['b','c','e']
l1.append(l2)
print(l1)

['a', ['b', 'c', 'e']]

### 4. 반복문

In [13]:
# 반복문
fruits = ['바나나','사과','딸기','배','감']
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

### 5. 문자열

In [14]:
# 문자열
s = '문자열'
print(s)

문자열

In [15]:
# 문자열 합치기 : +
a = '사과'
b = '망고, 파인애플'
ab = a + b
print(ab)

사과망고, 파인애플

In [16]:
# 문자열 반복 : *
z = "*"
print(z * 10)

**********

In [17]:
# 문자열 포매팅
# 변수의 값에 다라 문자열이 변하도록 만들기
month = "2월"
day = '20일'
say = '{} {}은 일요일입니다.'.format(month, day)
print(say)

2월 20일은 일요일입니다.

In [18]:
# 문자열에서 일부를 선택 : 인덱스, 슬라이싱
k     =  '가나다라마바'
#index    0 1 2 3 4 5
#index   -6-5-4-3-2-1
print(k[2])
print(k[-1])
print(k[2:5])
print(k[3:])

다
바
다라마
라마바

In [19]:
# 문자열 정리 : strip(), replace(), split() 활용
t1 = '   hp010-0000-0000   '
print(t1)
t2 = t1.strip()   # 공백문자 제거
print(t2)
t3 = t2.replace('hp','') # 문자 변경
print(t3)
t4 = t3.split('-') # '-'을 기준으로 문자열 나눔
print(t4)

   hp010-0000-0000
hp010-0000-0000
010-0000-0000
['010', '0000', '0000']

###  6. 조건문

In [20]:
# 조건문
price = 5000
if price > 3000:
    print('비싸다')
else:
    print('저렴하다.')

비싸다

### 7. 함수

In [21]:
# 함수
def say_name(name):    # def 함수명(매개변수):
    print('안녕하세요')
    print('제 이름은 ' + name + ' 입니다')
say_name('홍길동')

안녕하세요
제 이름은 홍길동 입니다

In [22]:
def calcul(a,b):        # def 함수명(변수):
    result = a ** b
    return result      # 돌려받을 결과 정의
test = calcul(10,3)
print(test)

1000